* {
    box-sizing: border-box;
}

body {
    font-family: helvetica, sans-serif;
}

h2,
p {
    margin: 0;
}

.support-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.support-button:hover {
    background-color: #45a049;
}

/* Chat box styles (hidden by default) */
.chat-box {
    display: none;
    background-color: #b5e916;
    padding: 16px;
    position: fixed;
    min-height: 300px;
    bottom: 30px;
    right: 30px;
    width: 300px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.chat-box.active {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: space-between;
}

.chat-box h2 {
    margin-bottom: 20px;
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 36px;
    color: #000;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close-button:hover {
    color: #333;
}

.message {
    margin-bottom: 10px;background-color: #d9edf7;
    color: #333;
    padding: 8px 12px;
    border-radius: 4px;
}

.input-field {
    margin-top: 10px;s
}

.input-field input[type="text"] {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 50px;
}