.btn {
    display: block;
    margin: auto;
    padding: 1em;
    background: lightblue;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background: lightgreen;
}