body {
  background: #20262E;
  padding: 20px;
  font-family: Helvetica;
    color: #fff;
}

.name {
  color: #6467CC;
}

.message{
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}

.urgent {
    color: red;
}

.card {
    position: relative;
    border: 1px solid #bbb;
    height: 85px;
    padding: 10px;
    border-radius: 4px;
}

img {
    border-radius: 15px;
}

.card-data {
    position: absolute;
    left: 100px;
    top: 10px;
}

.name {
    font-size: 14px;
    color: white;
}

.email {
    font-size: 12px;
    color: #888;
}
